._3mI9vzzfmLhiRP_ZblBh_I {
  margin: 32px 0 0 0;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
}

._9O66VMLASWwXd_JY3nLjo {
  position: relative;
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  background: #f3f3f3;
}

.GGymsPTQfMAt3GZ41zXg4 {
  font-size: 14px;
  font-weight: bold;
  vertical-align: baseline;
}

.GGymsPTQfMAt3GZ41zXg4 {
  font-size: 14px;
  font-weight: bold;
  vertical-align: baseline;
}

.vWVd2CUGioLTvw9RYKJL9 {
  color: #ff3b30;
}

._3sxISbd1jaVUPalXk2Yskv {
  color: #0284ff;
}

.CyRyc3P9ATy-PHYxLUszQ {
  padding: 0 20px;
  font-size: 14px;
  color: #454545;
  line-height: 30px;
  vertical-align: baseline;
}

._2wyPrzFgCG0_A5z0zkJL-c {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 8px;
  margin: auto;
  margin-top: 18px;;
  border: 1px solid #e0e0e0;
}

._2wyPrzFgCG0_A5z0zkJL-c tr:nth-of-type(2n+1) {
  background: #f3f3f3;
}

._2wyPrzFgCG0_A5z0zkJL-c td {
  margin: 3px 15px;
}

._2C4u64Jh8chwype1z-_abw {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 0 10px;
  background-color: #f3f3f3;
}

._3esZo1y7zXaBhkpT45S9gN {
  width: 100%;
  height: 320px;
  display: block;
  padding: 9.5px;
  font-size: 13px;
  line-height: 1.428571423;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow: scroll;
}

._2wyPrzFgCG0_A5z0zkJL-c td:last-of-type {
  width: 50%;
}
